.container{
	max-width:1200px;
}
.container1{
	max-width:1000px;
	height:400px;
}
.image0 img,.image2 img{
	float:left;
	width:450px;
	height:450px;
	display:inline-block;

}
.image1 img,.image3 img{
	float:right;
	width:450px;
	height:450px;
	display:inline-block;
}
.image4 img,.image6 img{

   float:left;
	width:200px;
	height:200px;
	display:inline-block;
}
.image5 img{
	float:right;
	width:220px;
	height:220px;
	display:block;

}
.heading0,.heading2,.heading4,.heading5,.heading6,.heading3,.heading1{
	color:orange;
	font-weight: bolder;
}
.text0,.text2{
	float:right;
	width:500px;
}
.text1,.text3{
	float: left;
	width:500px;
}
.text4,.text6{
	float:right;
	width:700px;
}
.text5{
	float:left;
	width:600px;
}
.text0 span,.text1 span,.text2 span,.text3 span,.text4 span,.text5 span,.text6 span{
	background-color: orange;
	color:white;
	border-radius: 50%;
	text-align: center;
	padding:5px;
}
