
<html>
<head>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><!-- bootstrap css-->
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="/new assignment2/js/demo.js"></script>
     <!--<script src="../js/demo.js"></script>-->  
   <link rel="stylesheet" type="text/css" href="/new assignment2/css/blog.css"><!--my css-->
<script>
   //Ajax validation for sign up
$(document).ready(function(){

$("#registrationsubmit").click(function(){
    
alert("in javascript!");

});
 $("#username").keyup(function(){
    
   var username = $('#username').val();
   if(username == ''){
      alert("Please enter a username");
   }
   else{
      console.log(username);
    $.ajax({
         
         url:"http://localhost/new%20assignment2/Ajaxvalidation.php",
         data:'username='+$('#username').val(),
         type:"post",
         success:function(response)
         {
           if(response != "Valid")
            {
            alert(' User-Name exist');
            }
           
         }

      });
   }

 });

$("#email").keyup(function(){

      var email = $('#email').val();
      if(email == ''){
         alert("Please enter a email");
      }
      else{
         alert("Warning");
       $.ajax({
            alert("In Ajax");
            url:"../Ajaxvalidation.php",
            method:"POST",
            data:{code:email},
            success:function(data)
            {
              if(data != 'Valid')
              {
               alert('Not Valid User-Name');
              }
            }
         });

      }
   });

}); 
</script>
</head>
<body>
<div class='navigation'>
   <h1> Registration</h1>
      <ul>
      <li><a href="/new assignment2/index.php/blog">Blogs</a></li>
   </ul>
</div>
<div class="body">
<div class="body1">
<div class="container register-form">
   <div class="form">
      <div class="note">
         <p>Registeration Form </p>
      </div>
      <div class="form-content">
         <form action='/new assignment2/index.php/Controller/Register' method="POST">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" name="email" pattern="[A-Za-z0-9]+@[A-za-z]+\.[A-Za-z]+" placeholder="Email"  id="email" required>
               </div>
               <div class="form-group">
                  <input type ="text" name="username" pattern="[A_Za-z]{4}[0-9]{4}" maxlength="8" placeholder="User-Name" id="username" required>
               </div>
               <div class="form-group">
                  <input type="Password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required>
               </div>
            </div>

            <div class="col-md-6">
               <div class="form-group">
                  <input type = "text" name="firstname" id="firstname" pattern="[a-zA-Z]{1,}" placeholder="First-Name"required>  
               </div>
               <div class="form-group">
                  <input type = "text" name="lastname" id="lastname" pattern="[a-zA-Z]{1,}" placeholder="Last Name"onkeyup = "Solution()" required>
               </div>
               <div class="form-group">
                  <input type = "text" name="fullname" id="fullname" placeholder="Full_name" disabled>
               </div>
               <div class="form-group">
                  <input type="number" name="telephone" placeholder="Telephone" id="telephone" >
               </div>
            </div>
         </div>
         <input type="submit" name="submit"  id="registrationsubmit" value="Submit">
      </div>
      </form> 
      </div>  
   </div>
</div> 
</div>                                   
</body>
</html>
 <!--href="../css/blog.css-->